<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CreditosDB" connectionString="data source=DESKTOP-4TNE5SN\SQLEXPRESS;    Integrated Security=SSPI;    persist security info=True;    database=Creditos;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="EnlaceHTTP"
						 closeTimeout="00:10:00"
						   maxReceivedMessageSize="65536"
						   maxBufferSize="65536"
						   messageEncoding="Text"
						   textEncoding="utf-8">
				</binding>
			</basicHttpBinding>

			<netTcpBinding>
				<binding name="EnlaceTCP"
						 closeTimeout="00:10:00"
						   maxReceivedMessageSize="65536"
						   maxBufferSize="65536"
						   maxConnections="10">
					<security mode="Transport">
						<transport clientCredentialType="Windows"
								   protectionLevel="EncryptAndSign"></transport>
					</security>

				</binding>
			</netTcpBinding>

			<webHttpBinding>
				<!--crossDomainScriptAccessEnabled="true" esta propiedad sirve para que nuestro servicio pueda ser accedido externamente a un dominio-->
				<binding name="httpREST"
						 closeTimeout="00:10:00"
						 crossDomainScriptAccessEnabled="true"></binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="Pacagroup.Comercial.Creditos.Implementacion.ClienteService" behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/BankingServices/ServicioCliente"/>
						<add baseAddress="net.tcp://localhost:809/BankingServices/ServicioCliente"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
				<endpoint address="" binding="netTcpBinding" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
				<endpoint address="rest" binding="webHttpBinding" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService" behaviorConfiguration="webREST" bindingConfiguration="httpREST"></endpoint>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webREST">
					<!--El helpEnabled nos permitirá acceder a la metadata de nuestros servicios-->
					<webHttp helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>

			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpBinding" scheme="http" />
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>